/* TURQUOISE */
/* GREY */
/* Tagline! */
/* BLUES */
@font-face {
  font-family: "Fedra Sans Light", sans-serif;
  src: url(../font/Fedra-Sans-Pro-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Fedra Sans Book", sans-serif;
  src: url(../font/Fedra-Sans-Pro-Book.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  font-stretch: normal; }

@font-face {
  font-family: "Fedra Sans Bold", sans-serif;
  src: url(../font/Fedra-Sans-Pro-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal; }

@font-face {
  font-family: "Fedra Sans Medium", sans-serif;
  src: url(../font/Fedra-Sans-Pro-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  font-stretch: normal; }

/*   TEXT   */
/*   TEXT SIZE   */
/*   BACKGROUND   */
/*   COLORS  */
/*   SIZE   */
/* HEIGHT */
/* WIDTH */
/* OTHER */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px; }

html,
body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-size: 1rem;
  font-family: "Fedra Sans Book", sans-serif;
  color: #efeeee; }

a {
  color: inherit; }

p {
  -webkit-margin-before: .3em;
  -webkit-margin-after: .5em; }

.clearfix::after,
.clearfix::before {
  display: block;
  clear: both;
  content: ''; }

.container {
  font-size: 1rem;
  line-height: 1.42;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #385f7f;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #385f7f), color-stop(100%, #f4f5f4));
  background: -webkit-linear-gradient(45deg, #385f7f 0%, #f4f5f4 100%);
  background: -o-linear-gradient(45deg, #385f7f 0%, #f4f5f4 100%);
  background: linear-gradient(45deg, #385f7f 0%, #f4f5f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$skyGrey, endColorstr=$lightConcrete, GradientType=1 ); }

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 82%;
  margin: 0 auto;
  max-width: 1050px;
  background-size: cover;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header {
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.headerLogo__wrapper {
  width: 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.headerLogo__logo {
  width: 35%;
  height: 60px;
  background: url("../img/logo.png") center no-repeat;
  background-size: contain; }

.headerLogo__tagline {
  width: 60%;
  font-family: "Fedra Sans Bold", sans-serif;
  font-size: 2rem; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background: #fff url(../img/android1.png) right bottom no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 5px; }

/*                 MAIN INFO                       */
/*                END OF MAIN INFO                       */
.footer {
  line-height: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1050px;
  height: 18%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.hide__content {
  display: none; }

.hide {
  display: none; }

@media screen and (max-width: 1100px) and (orientation: landscape) {
  .main {
    background-size: 25%; } }

@media screen and (min-width: 760px) and (orientation: portrait) {
  .header {
    height: 20%; }
  .headerLogo__wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .headerLogo__logo {
    height: 70px;
    width: 40%; }
  .headerLogo__tagline {
    font-size: 3rem;
    color: #00717f; }
  .main {
    background-size: 35%; } }

@media screen and (min-width: 665px) {
  .header {
    height: 30%; } }

@media screen and (min-width: 480px) {
  .wrapper {
    height: 70%; }
  .footer {
    height: 30%; }
  .header {
    height: 20%; }
  .headerLogo__wrapper {
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .headerLogo__logo {
    width: 20%; }
  .headerLogo__tagline {
    font-size: 1.3rem;
    color: #00717f; }
  .main {
    background-size: 25%; } }

@media screen and (max-width: 415px) {
  .headerLogo__wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .headerLogo__tagline {
    font-size: 1.85rem;
    color: #00717f; } }

@media screen and (max-width: 380px) and (orientation: portrait) {
  .headerLogo__wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .headerLogo__tagline {
    font-size: 1.6rem;
    color: #00717f; } }

@media screen and (max-width: 350px) {
  .headerLogo__wrapper {
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .headerLogo__tagline {
    font-size: 1.4rem;
    color: #00717f; }
  .main {
    background-size: 25%; } }

@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .container {
    width: 568px;
    height: 230px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (width: 667px) and (height: 375px) and (orientation: landscape) and (color: 8) and (device-aspect-ratio: 375 / 667) and (aspect-ratio: 667 / 375) and (device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) {
  /* iPhone 6 ONLY (landscape) */
  body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .container {
    width: 667px;
    height: 275px; } }
