/* TURQUOISE */
$midTurquoise: #0096a1;
$heavyTurquoise: #004b55;
$darkTurquoise: #00717f;
$brightTurquoise: #00bbc5;
$lightTurquoise: #87cfd3;

/* GRAY */
$blueGray: #424d56;
$midGray: #949cal; /* Tagline! */
$midGrayRGB: rgb(135, 145, 151);
$skyGray: #bdd0d8;
$Concrete: #dbdedb;
$lightConcrete: #f4f5f4;

/* BLUES */
$darkBlue: #0081c2;
$brightBlue: #00a3d9;
$electricBlue: #00c0f2;
$dark-matedBlue: #385f7f;
$light-matedBlue: #9fd5f1;