@font-face{
  font-family:"Fedra Sans Light", sans-serif;
  src: url(../font/Fedra-Sans-Pro-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;}
@font-face{
  font-family: "Fedra Sans Book", sans-serif;
  src:url(../font/Fedra-Sans-Pro-Book.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;}
@font-face{
  font-family:"Fedra Sans Bold", sans-serif;
  src:url(../font/Fedra-Sans-Pro-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;}
@font-face{
  font-family:"Fedra Sans Medium", sans-serif;
  src:url(../font/Fedra-Sans-Pro-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;}