$darkTurquoise: #00717f;



@media screen and (min-width: 760px)  /* iPad Pro landscape · width: 1366px */
{ 
  h2 {
    font-size: 3rem;
  }
  .subscribe__link, .subMain__link, .alreadySubMain__link {
    height: 60px;
    border-radius: 6px;
  }
  /*  LP  */
  .lpMain__Title {
    color: $darkTurquoise;
    text-align: center;
    font-size: 3rem;
  }
  .lpMain__info {
    border: none;
  }
  .lpMain__info-title {
    font-size: 1.7rem;
    text-align: center;

    border-top: 1px solid #d6dbe1;
    margin-top: 5px;
    padding-top: 5px;
  }
  .lpMain__item {
    font-size: 1.5rem;
    border-bottom: 1px solid #d6dbe1;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .lpMain__item:before {
    content: none;
  }
  .hideBR {
    display: none;
  }

}


@media screen and (min-width: 770px) and (max-width: 1100px) and (orientation: landscape) /* iPad landscape + iPad Pro portrait · width: 1024px */
{
  .wrapper {
    background-size: 40%;
  }
}

@media screen and (max-width: 770px) and (orientation: portrait) /* iPad portrait · width: 768px */
{
  .header {
    height: 20%;
  }
  .headerLogo__wrapper {
    justify-content: space-between;
    width: 100%;
  }
  .headerLogo__logo {
    height: 70px;
    width: 40%;
  }
  .headerLogo__tagline {
    font-size: 3rem;
    color: $darkTurquoise;
  }
  .wrapper {
    background-size: 65%;
  }
}

@media screen and (max-width: 740px)  /* iPhone 6 Plump landscape · width: 736px */
{
  .wrapper {
    background-size: 25%;
  }

  .headerLogo__wrapper {
    width: 85%;
  }

  .header {
    height: 25%;
  }

  .headerLogo__logo {
    width: 40%;
    height: 45px;
  }

}

@media screen and (max-width: 670px)  /* iPhone 6 landscape · width: 667px */
{
  .wrapper {
    width: 90%;
    height: 80%;

    background-size: 60%;
  }
  .footer {
    height: 20%
  }

  .header {
    height: 30%;
  }
  .headerLogo__wrapper {
    width: 85%;
  }

}
@media screen and (max-width: 670px)  and (orientation: landscape) {
  .wrapper {
    background-size: 22%;
  }
}

@media screen and (max-width: 570px) and (orientation: landscape) /* iPhone 5 landscape · width: 568px */
{
  .header {
    height: 25%;
  }
  .headerLogo__wrapper {
    width: 80%;
  }
  .headerLogo__logo {
    width: 25%;
    height: 30px;
  }
  .wrapper {
    background-size: 15%;
  }
}

@media screen and (max-width: 480px) and (orientation: landscape) /* iPhone 4 landscape · width: 480px */
{
  .wrapper {
    height: 70%;
  }
  .footer {
    height: 30%
  }
  .header {
    height: 20%;
  }
  .headerLogo__wrapper {
    width: 100%;
    justify-content: flex-start;
  }
  .headerLogo__logo {
    width: 20%
  }
  .headerLogo__tagline {
    width: 40%;
    font-size: 1.3rem;
    color: $darkTurquoise;
    text-align: end;
  }
  .wrapper {
    background-size: 25%;
  }

}

@media screen and (max-width: 415px)  /* iPhone 6 Plump portrait · width: 414px */
{
  .headerLogo__wrapper {
    justify-content: space-between;
    width: 100%;
  }
  .headerLogo__tagline {
    font-size: 1.85rem;
    color: $darkTurquoise;
  }
}


@media screen and (max-width: 380px) and (orientation: portrait) /* iPhone 6 portrait · width: 375px */
{
  .headerLogo__wrapper {
    justify-content: space-between;
    width: 100%;
  }
  .headerLogo__tagline {
    font-size: 1.6rem;
    color: $darkTurquoise;
  }
}

@media screen and (max-width: 350px) /* iPhone 5 landscape · width: 568px */
{
  .header {
    height: 20%;
  }
  .headerLogo__wrapper {
    width: 100%;
    justify-content: space-between;
  }
  .headerLogo__logo {
    width: 35%;
  }
  .headerLogo__tagline {
    font-size: 1.4rem;
    color: $darkTurquoise;
  }
  .wrapper {
    background-size: 60%;
  }
}





/*       LP       */

@media screen and (orientation: landscape) and (max-width: 730px){
  .lpMain__title,
  .lpMain__subTitle {
    width: 100%;
    padding-left: 10px;
    text-align: center;

  }
  .lpMain__info,
  .subMain__info {
    display: none;
  }
  .footer {
    color: #000;
  }
  .hideBR {
    display: none;
  }
}
@media screen and (min-width: 730px) and (max-width: 760px) {
  .lpMain__info {
    width: 50%;
  }
}



@import "specialMedia";