$darkTurquoise: #00717f;



@media screen and (min-width: 1300px)  /* iPad Pro landscape · width: 1366px */
{ 

}


@media screen and (max-width: 1100px) and (orientation: landscape) /* iPad landscape + iPad Pro portrait · width: 1024px */
{
  .wrapper {
    background-size: 20%;
  }
}

@media screen and (max-width: 770px) and (orientation: portrait) /* iPad portrait · width: 768px */
{
  .header {
    height: 20%;
  }
  .headerLogo__wrapper {
    justify-content: space-between;
    width: 100%;
  }
  .headerLogo__logo {
    height: 70px;
    width: 40%;
  }
  .headerLogo__tagline {
    font-size: 3rem;
    color: $darkTurquoise;
  }
  .wrapper {
    background-size: 70%;
  }
}

@media screen and (max-width: 740px)  /* iPhone 6 Plump landscape · width: 736px */
{

  .headerLogo__wrapper {
    width: 85%;
  }

  .header {
    height: 25%;
  }

  .headerLogo__logo {
    width: 40%;
    height: 45px;
  }

}

@media screen and (max-width: 670px)  /* iPhone 6 landscape · width: 667px */
{
  .wrapper {
    width: 90%;
    height: 80%;
  }
  .footer {
    height: 20%
  }

  .header {
    height: 30%;
  }
  .headerLogo__wrapper {
    width: 85%;
  }

}

@media screen and (max-width: 570px) and (orientation: landscape) /* iPhone 5 landscape · width: 568px */
{
  .header {
    height: 25%;
  }
  .headerLogo__wrapper {
    width: 80%;
  }
  .headerLogo__logo {
    width: 25%;
    height: 30px;
  }
  .wrapper {
    background-size: 15%;
  }
}

@media screen and (max-width: 480px) and (orientation: landscape) /* iPhone 4 landscape · width: 480px */
{
  .wrapper {
    height: 70%;
  }
  .footer {
    height: 30%
  }
  .header {
    height: 20%;
  }
  .headerLogo__wrapper {
    width: 100%;
    justify-content: flex-start;
  }
  .headerLogo__logo {
    width: 20%
  }
  .headerLogo__tagline {
    width: 40%;
    font-size: 1.3rem;
    color: $darkTurquoise;
    text-align: end;
  }
  .wrapper {
    background-size: 25%;
  }

}

@media screen and (max-width: 415px)  /* iPhone 6 Plump portrait · width: 414px */
{
  .headerLogo__wrapper {
    justify-content: space-between;
    width: 100%;
  }
  .headerLogo__tagline {
    font-size: 1.85rem;
    color: $darkTurquoise;
  }
}


@media screen and (max-width: 380px) and (orientation: portrait) /* iPhone 6 portrait · width: 375px */
{
  .headerLogo__wrapper {
    justify-content: space-between;
    width: 100%;
  }
  .headerLogo__tagline {
    font-size: 1.6rem;
    color: $darkTurquoise;
  }
}

@media screen and (max-width: 350px) /* iPhone 5 landscape · width: 568px */
{
  .header {
    height: 20%;
  }
  .headerLogo__wrapper {
    width: 100%;
    justify-content: space-between;
  }
  .headerLogo__logo {
    width: 35%;
  }
  .headerLogo__tagline {
    font-size: 1.4rem;
    color: $darkTurquoise;
  }
  .wrapper {
    background-size: 65%;
  }
}





/*       LP       */

@media screen and (orientation: landscape) and (max-width: 730px){
  .mobile-lpMain__title,
  .mobile-lpMain__subTitle {
    width: 100%;
    padding-left: 10px;
    text-align: center;

  }
  .mobile-lpMain__info {
    display: none;
  }
  .footer {
    color: #000;
  }
  .hideBR {
    display: none;
  }
}
@media screen and (min-width: 730px) and (max-width: 760px) {
  .mobile-lpMain__info {
    width: 50%;
  }
}



@import "specialMedia";