@import "colorsArchive";
@import "font";

/*   TEXT   */
$text_FontFamily: "Fedra Sans Book", sans-serif;
$taglineText_FontFamily: "Fedra Sans Bold", sans-serif;
$textColor_Main: #efeeee;

/*   TEXT SIZE   */
$fontSize_Main: 10px;
$fontSize_Header: ($fontSize_Main * 2)rem;
$fontSize_Footer: 10px;

/*   BACKGROUND   */

$background_STARTColor: $dark-matedBlue;
$background_STOPColor: $lightConcreteRGB;


/*   COLORS  */



/*   SIZE   */


/* HEIGHT */
$height_Footer: 18%;
$height_Header: 15%;
$height_Wrapper: (100% - $height_Footer);

$height_Logo: 50%;

/* WIDTH */
$width_headerLogoWrapper: 45%;
$width_Logo: 35%;
$width_Tagline: 60%;




/* OTHER */

$time_Transition: .5s;



















