DOCTYPE
    header
        title
    body
    .container
        .wrapper
            header.header
                .headerLogo__wrapper
                    .headerLogo__logo
                    .headerLogo__tagline
            main.main
            footer.footer