@import 'variables';


*
{
    box-sizing: border-box;
}
html
{
    font-size: $fontSize_Main;
}

html,
body
{
    position: fixed;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    font-size: 1rem;

  font-family: $text_FontFamily;
  color: $textColor_Main;
}

a
{
    color: inherit;
}
p
{
    -webkit-margin-before: .3em;
    -webkit-margin-after: .5em;
}
.clearfix::after,
.clearfix::before
{
    display: block;
    clear: both;

    content: '';
}



.container
{

    font-size: 1rem;
    line-height: 1.42;

    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;

    background: $background_STARTColor;
    background: -moz-linear-gradient(45deg, $background_STARTColor 0%, $background_STOPColor 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, $background_STARTColor), color-stop(100%, $background_STOPColor));
    background: -webkit-linear-gradient(45deg, $background_STARTColor 0%, $background_STOPColor 100%);
    background: -o-linear-gradient(45deg, $background_STARTColor 0%, $background_STOPColor 100%);
    background: -ms-linear-gradient(45deg, $background_STARTColor 0%, $background_STOPColor 100%);
    background: linear-gradient(45deg, $background_STARTColor 0%, $background_STOPColor 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$skyGrey, endColorstr=$lightConcrete, GradientType=1 );
}
.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 80%;
  height: $height_Wrapper;
  margin: 0 auto;
  max-width: 1050px;

  background-size: cover;

  justify-content: space-between;
}

.header {
  height: $height_Header;
  width: 100%;

  display: flex;
  align-items: center;
}
.headerLogo__wrapper {
  width: $width_headerLogoWrapper;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerLogo__logo {
  width: $width_Logo;
  height: 60px;
  
  background: url("../img/logo.png") center no-repeat;
  background-size: contain;

}
.headerLogo__tagline {
  width: $width_Tagline;
  font-family: $taglineText_FontFamily;


  font-size: 2rem;
}

.main
{
    display: flex;
    flex-direction: column;
  justify-content: space-around;
  background: #fff url(../img/android1.png) right bottom no-repeat;

  width: 100%;
    height: 100%;


  border-radius: 5px;

}

/*                 MAIN INFO                       */



/*                END OF MAIN INFO                       */



.footer
{
    line-height: 10px;

    display: flex;

    width: 100%;
    max-width: 1050px;
    height: $height_Footer;
    margin: 0 auto;

    text-align: center;



    justify-content: center;
}

.hide__content
{
    display: none;
}
.hide
{
    display: none;
}




@import "media";
