@media screen and (min-width: 560px) /* iPhone 5 landscape · width: 568px */ 
{ 

}
@media screen and (min-width: 370px)  /* iPhone 6 portrait · width: 375px */ 
{ 

}
@media screen and (min-width: 660px)  /* iPhone 6 landscape · width: 667px */ 
{ 

}
@media screen and (min-width: 410px)  /* iPhone 6 Plump portrait · width: 414px */
{ 

}
@media screen and (min-width: 730px)  /* iPhone 6 Plump landscape · width: 736px */
{ 

}
@media screen and (min-width: 760px)  /* iPad portrait · width: 768px */
{ 

}
@media screen and (min-width: 1000px)  /* iPad landscape + iPad Pro portrait · width: 1024px */
{ 

}
@media screen and (min-width: 1300px)  /* iPad Pro landscape · width: 1366px */
{ 

}




@import "specialMedia";